<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Serasa System - ADMIN</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>

		<!-- bootstrap - link cdn -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script type="text/javascript">

		$( window ).load(function() {
			// Verificação da permissão do usuário para acessar a área restrita
			var verificacao = localStorage.getItem("token");
			if(verificacao === null){
				window.location.href = '/';
			}

			// Funções que escondem as divs de mensagens quando a página é carregada
			$("#mensagens").hide();
			$("#msg_desativa").hide();

			// Variáveis carregadas do localStorage
      var token = localStorage.getItem("token");
			var ip_server_busca = localStorage.getItem("IP_SERVER");

			// Requisição GET carregada para buscar e apresentar as informações do parceiro logado
      axios.get('http://' + ip_server_busca + '/parceiro',{ headers: {
					'Content-Type': 'application/json',
					'Authorization': `${token}`
				}
			})
			.then((response) => {
        console.log('retorno: ' + response.data.cnpj);
				$("#cnpj").val(response.data.cnpj);
        $("#nome_fantasia").val(response.data.nome_fantasia);
        $("#razao_social").val(response.data.razao_social);
        $("#nome_usuario").val(response.data.nome_usuario);
        $("#email").val(response.data.email);
			})
			.catch((error) => {
				alert(error);
				window.location.href = "/";
			});

			// Função que seta o nome do usuário logado
			var username = localStorage.getItem("user");
			$("#user").prepend("<li style='margin-left: 15px'>" + username.toUpperCase() + "</li>");
		});

		function logout(){

			// Variáveis carregadas do localStorage
			var token = localStorage.getItem("token");
			var ip_server_logout = localStorage.getItem("IP_SERVER");

			// Requisição PUT que solicita o logout do sistema
			axios.put('http://' + ip_server_logout + '/logout', {},{ headers: {
					'Content-Type': 'application/json',
					'Authorization': `${token}`
				}
			})
			.then((response) => {
				localStorage.removeItem("token");
				localStorage.removeItem("user");
				window.location.href = '/';
			})
			.catch((error) => {
				alert(error);
				window.location.href = "/";
			});
		}

    function atualiza(){

			// Informações carregadas do localStorage
      var token = localStorage.getItem("token");
			var ip_server_update = localStorage.getItem("IP_SERVER");

			// JSON com os dados obtidos do formulário para atualização do cadastro
      var dados_atualizar = {
        nome_fantasia: $("#nome_fantasia").val(),
        razao_social: $("#razao_social").val(),
        email: $("#email").val(),
        senha: $("#senha").val()
      };

			// Requisição via PUT que solicita a atualização do cadastro do parceiro logado
			axios.put('http://' + ip_server_update + '/parceiro', dados_atualizar, { headers: {
					'Content-Type': 'application/json',
					'Authorization': `${token}`
				}
			})
			.then((response) => {
				if(response.data.mensagem !== undefined){
					$("#mensagens").append('<b>' + response.data.mensagem + '</b>');
				}else{
					$("#mensagens").append('<b> O parceiro foi atualizado com sucesso.</b>');
				}
				$("#mensagens").show();
			})
			.catch((error) => {
				console.log('teste de login: ' + error);
					if(error.response.data.mensagem !== undefined){
						$("#erros").append('<strong>Atenção! </strong>' + error.response.data.mensagem);
					}else{
						$("#erros").append('<strong>Atenção! Erro </strong>' + error.response.status + ', mensagem de erro não foi identificada.');
					}
					$("#erros").show();
			});
    }

		function desativa(){

			var token = localStorage.getItem("token");
			var ip_server_desativa = localStorage.getItem("IP_SERVER");

			axios.delete('http://' + ip_server_desativa + '/parceiro',{ headers: {
					'Content-Type': 'application/json',
					'Authorization': `${token}`
				}
			})
			.then((response) => {

					localStorage.removeItem("token");

					if(response.data.mensagem !== undefined){
						$("#msg_desativa").append('<b>' + response.data.mensagem + '</b>');
					}else{
						$("#msg_desativa").append('<b> O parceiro foi desativado com sucesso.</b>');
					}
					$("#msg_desativa").show();
			})
			.catch((error) => {
				console.log(error.message);
				alert(error);

			});
		}

		</script>
	</head>

	<body>

    <nav class="navbar navbar-s1 navbar-side" role="navigation">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="" style="color: #fff;">SERASA SYSTEM ADMIN</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="side" class="nav navbar-nav side-nav" style="margin-top: 0.3%;">

          <li><a href="/admin"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          <li><a href="/admin_list"><i class="glyphicon glyphicon-list"></i> Meus Dados</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="glyphicon glyphicon-user" value="teste"></i>
						</a>
            <ul class="dropdown-menu" id="user">

              <li class="divider"></li>
              <li><a class="sublink" onclick="logout()">logout</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </nav>

    <div class="container" style="width: 84%; margin-left: 16%;float: right">
			<div class="panel panel-default" style="padding: 1%">
					<div class="alert alert-warning alert-dismissible" id="mensagens" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>

					<div class="alert alert-warning alert-dismissible" id="msg_desativa" role="alert">
						<a href="/" style="float: right;">Retornar a autenticação</a>
					</div>

          <div class="meus_dados" id="meus_dados">
            <h2>Meus Dados</h2><hr>

            <form>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="cnpj">CNPJ</label><br>
                    <input size="30" type="text" id="cnpj" name="cnpj" value="" disabled>
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="form-group">
                    <label for="nome_fantasia">Nome Fantasia</label><br>
                    <input type="text" size="60" id="nome_fantasia" name="nome_fantasia" value="">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="razao_social">Razão Social</label><br>
                    <input size="40" type="text" id="razao_social" name="razao_social" value="">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="nome_usuario">Usuário</label><br>
                    <input size="35" type="text" id="nome_usuario" name="nome_usuario" value="">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label><br>
                    <input size="70" type="email" id="email" name="email" value="">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="senha">Senha</label><br>
                    <input size="26" type="password" id="senha" name="senha" value="">
                  </div>
                </div>
              </div><br>
              <button type="button" onclick="desativa()" name="btn_desativar" class="btn btn-danger">Desativar Cadastro</button>
              <button type="button" onclick="atualiza()" name="btn_atualizar" class="btn btn-success">Atualizar Cadastro</button>
            </form>
          </div>

				</div>
    </div>

	</body>
</html>
